<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uplibrary">

    <application>
        <activity android:name=".ScrollYActivity"></activity>

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".VideoActivity" />
        <activity android:name=".VPFragmentActivity" />
        <activity android:name=".IndicatorActivity" />
        <activity android:name=".FloorActivity" />
        <activity android:name=".RecoardFaceActivity" />
        <activity android:name=".TicketListActivity" />
        <activity android:name=".UpMainActivity" />
        <activity android:name=".widget.city.CityPickerActivity" />
    </application>

</manifest>