<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uplibrary">

    <application>
        <activity android:name=".FloorActivity"></activity>
        <activity android:name=".RecoardFaceActivity" />
        <activity android:name=".TicketListActivity" />
        <activity android:name=".UpMainActivity" />
    </application>

</manifest>