<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uplibrary">

    <application>
        <activity android:name=".MerageActivity"></activity>
        <activity android:name=".ScrollYActivity" />

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".VideoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"></activity>
        <activity android:name=".VPFragmentActivity" />
        <activity android:name=".IndicatorActivity" />
        <activity android:name=".FloorActivity" />
        <activity android:name=".RecoardFaceActivity" />
        <activity android:name=".TicketListActivity" />
        <activity android:name=".UpMainActivity" />
        <activity android:name=".widget.city.CityPickerActivity" />
    </application>

</manifest>